
<div class="container container-fluid" style="margin-top: 1%;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let element of data">
      <div class="card">
        <img src="{{element.img}}" class="card-img-top" alt="{{element.committee}}">
        <div class="card-body" >
          <h5 class="card-title">{{element.title}}</h5>
          <p class="card-text">{{element.description | slice:0:45 }}...</p>
          <p class ="text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/event-page']" [queryParams]="{id:element.id}">More Information</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>